<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- レスポンシブ対応、スマホ対応 -->
  <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
  <title>オモチャンボタン</title>
</head>

<body>

  <!-- load modules-->
  <script src="scripts/modal.js"></script>
  <script src="scripts/initialize.js"></script>
  <script src="scripts/audioPlay.js"></script>
  <script src="scripts/sidebar.js"></script>
  <script src="scripts/search.js"></script>
  <script src="scripts/sort.js"></script>
  <!-- Bootstrap JS and Popper.js -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>


  <!-- global変数 -->
  <script>
    loaded_clips = JSON.parse(`<%- clips %>`); // audio Cliips
    // sort
    // ソートボタンの初期値
    const selectedSortButtonId = 'sortDescendDateButton';
    // ソートする
    window.clips = sortClipsWrapper(loaded_clips, selectedSortButtonId);
    window.currentSelectedTags = []; // 現在選択されているタグの配列
  </script>


  <!-- 最初のmordal -->
  <div id="loadModal" class="modal">
    <div class="modal-content">
      <button id="startLoading" class="btn btn-selected modal-button">音声読み込み開始</button>
    </div>
  </div>

  <!-- ホーム画面 -->
  <h1 class="display-6">オモチャンボタン</h1>
  <p class="warning-text">※音量注意※</p>


  <!-- ボタンの表示 -->
  <div id="playButtonArea" class="play-button-area">
    <!-- ボタンがここに生成される -->
  </div>


  <!-- サイドバーの表示トグルボタン-->
  <button id="sidebar-toggle-button" onclick="openNav()" class="position-fixed p-3 bg-dark text-white"
    style="bottom: 0; left: 0; cursor: pointer; border: none; outline: none; vertical-align: middle;">
    <span style="font-size: 24px;">&#9776;</span>
  </button>


  <!-- サイドバー -->
  <div id="sidebar" class="sidebar bg-dark text-white">
    <a href="javascript:void(0)" class="closebtn text-white" onclick="closeNav()">×</a>

    <div class="accordion">
      <div class="accordion-section">
        <div class="search-form-content">
          <!-- 検索フォームがここに生成される -->
        </div>

        <div class="accordion-section-content">
          <p class="text-white mt-4 mb-2 tagbutton">タグ</p>
          <!-- タグフィルターボタンがここに生成される -->
        </div>

        <div class="accordion-section-content">
          <p class="text-white m-2">発音数</p>
          <div class="mono-poly-buttons">
            <button id="monophonicButton" class="btn btn-selected" onclick="setMonophonicMode()">Mono</button>
            <button id="polyphonicButton" class="btn btn-selected" onclick="setPolyphonicMode()">Poly</button>
          </div>
        </div>


        <!-- ソート -->
        <div class="mb-4 accordion-section-content">
          <p class="text-white m-2">ソート</p>
          <div class="btn-group" role="group" aria-label="Sort Buttons">
            <button id="sortAscendDateButton" class="btn btn-outline-secondary btn-selected"
              onclick="onSortButtonClick(window.clips, 'ascend', 'date', 'sortAscendDateButton')">
              <i class="bi bi-calendar"></i> 日付昇順
            </button>
            <button id="sortDescendDateButton" class="btn btn-outline-secondary"
              onclick="onSortButtonClick(window.clips, 'descend', 'date', 'sortDescendDateButton')">
              <i class="bi bi-calendar2"></i> 日付降順
            </button>
            <button id="sortAscendTitleButton" class="btn btn-outline-secondary"
              onclick="onSortButtonClick(window.clips, 'ascend', 'title', 'sortAscendTitleButton')">
              <i class="bi bi-sort-alpha-up"></i> タイトル昇順
            </button>
            <button id="sortDescendTitleButton" class="btn btn-outline-secondary"
              onclick="onSortButtonClick(window.clips, 'descend', 'title', 'sortDescendTitleButton')">
              <i class="bi bi-sort-alpha-down"></i> タイトル降順
            </button>
          </div>
        </div>



      </div>
    </div>

</body>

<footer>

  <!-- 切り抜き元動画へのリンク -->
  <a href="/reference-videos">切り抜き元動画</a>
</footer>

</html>
