<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- レスポンシブ対応、スマホ対応 -->
  <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <title>オモチャンボタン</title>
</head>

<body>
  <!-- load js -->
  <script>
    window.clips = JSON.parse('<%- clips %>');
  </script>
  <!-- load modules-->
  <script src="scripts/modal.js"></script>
  <script src="scripts/initialize.js"></script>
  <script src="scripts/audioPlay.js"></script>
  <script src="scripts/sidebar.js"></script>
  <!-- Bootstrap JS and Popper.js -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


  <!-- 最初のmordal -->
  <div id="loadModal" class="modal">
    <div class="modal-content">
      <button id="startLoading" class="btn btn-selected modal-button">音声読み込み開始</button>
    </div>
  </div>

  <!-- ホーム画面 -->
  <h1 class="display-6">オモチャンボタン</h1>
  <p class="warning-text">※音量注意※</p>


  <!-- ボタンの表示 -->
  <div id="playButtonArea" class="play-button-area">
    <!-- ボタンがここに生成される -->
  </div>




  <!-- サイドバーの表示トグルボタン-->
  <button id="sidebar-toggle-button" onclick="openNav()" class="position-fixed p-3 bg-dark text-white"
    style="bottom: 0; left: 0; cursor: pointer; border: none; outline: none; vertical-align: middle;">
    <span style="font-size: 24px;">&#9776;</span>
  </button>


  <!-- サイドバー -->
  <div id="sidebar" class="sidebar bg-dark text-white">
    <a href="javascript:void(0)" class="closebtn text-white" onclick="closeNav()">×</a>

    <div class="accordion">
      <div class="accordion-section">
        <!-- <p class="text-white m-2">検索</p> -->
        <div class="search-form-content">
          <!-- 検索フォームがここに生成される -->
        </div>
        <div class="p-4 text-center accordion-section-content">
          <p class="text-white m-2">発音数</p>
          <div class="mono-poly-buttons">
            <button id="monophonicButton" class="btn btn-selected" onclick="setMonophonicMode()">Mono</button>
            <button id="polyphonicButton" class="btn btn-selected" onclick="setPolyphonicMode()">Poly</button>
          </div>

          <div class="accordion-section-content">
            <p class="text-white mt-4 mb-2">フィルター</p>
            <!-- フィルターボタンがここに生成される -->
          </div>
        </div>
      </div>
    </div>


</body>

</html>
