<!-- views/reference-videos.ejs -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- レスポンシブ対応、スマホ対応 -->
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <title>オモチャンボタン</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-6 m-4">切り抜き元動画</h1>
                <ul id="videosList"></ul>
                <button class="btn btn-primary m-4 button" onclick="goBack()">戻る</button>

                <script>
                    const videosData = JSON.parse(`<%- JSON.stringify(videosData) %>`);
                    const videosList = document.getElementById('videosList');

                    videosData.forEach(data => {
                        const listItem = document.createElement('li');
                        const link = document.createElement('a');
                        link.href = data.url;
                        link.textContent = `${formatDate(data.uploadedDate)}: 「${data.title}」`;
                        link.target = '_blank'; // サイト外で開く


                        listItem.appendChild(link);
                        videosList.appendChild(listItem);
                    });

                    function goBack() {
                        window.history.back();
                    }

                    function formatDate(dateString) {
                        // 日付を "2023-12-18" の形式にフォーマット
                        if (!dateString) {
                            return 'Unknown';
                        }
                        const date = new Date(dateString);
                        const year = date.getFullYear();
                        const month = ('0' + (date.getMonth() + 1)).slice(-2);
                        const day = ('0' + date.getDate()).slice(-2);
                        return `${year}-${month}-${day}`;
                    }
                </script>
            </div>
        </div>
    </div>
</body>

</html>
